* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

:root {
   --dark-green: #033738;
   --green-1: #B9F5D8;
   --green-2: #AAD2BA;
   --white-text-color: whitesmoke;
}

.cv-container {
    display: grid;
    margin: 50px 80px;
}

/* Grid area */
.img-container {
    grid-area: A;
}

.contacts {
    grid-area: B;
}

.education {
    grid-area: C;
}

.skills {
    grid-area: D;
}

.languages {
    grid-area: E;
}

.title {
    grid-area: F;
}
  
.profile {
    grid-area: G;
}
  
.work-exp {
    grid-area: H;
}
  
.projects {
    grid-area: I;
}

/* Left section */

.left-section {
    padding-left: 30px;
    padding-right: 30px;
}

.left-section h6 {
    font-size: 1.1rem;
    font-weight: bold;
}

.left-section-title {
    padding-bottom: 5px;
    border-bottom: 2px solid var(--green-2);
}

.img-container {
    display: grid;
    place-items: center;
    padding: 80px 0 50px 0;
    border-top-left-radius: 20px;
}

/* Contact info */

.contacts {
    padding-top: 0;
    padding-bottom: 50px;
}

.contacts h6 {
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    padding: 5px;
    align-items: center;
    line-height: 0;
    margin-bottom: 5px;
}

.contact-icon {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 6px;
    border: 2px solid var(--green-2);
    border-radius: 50%;
    margin: 0 10px;
}

.detailed-info a {
    text-decoration: none;
}

.contacts a:hover {
    color: var(--green-1);
}

/* Education */

.edu-info {
    margin: 30px auto;
}

.edu-info .subsection-title {
    margin: 0 !important;
}

.subsection-title {
    font-size: 1.1rem;
    font-weight: 600;
}

.edu-info .subsection-italic {
    margin: 0 !important;
}

.subsection-italic {
    font-weight: 400;
    font-style: italic;
}

/* Skills */

.skills h6 {
    margin-bottom: 25px;
}

.skill-set {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 2rem;
}

.skill-set p {
    font-weight: 600;
}

.progress {
    background: gray !important;
    margin-top: 5px;
}

.progress-bar {
    background: var(--green-1) !important;
}

.skill-set::after {
    line-height: 0;
}

/* Languages */
.languages {
    border-bottom-left-radius: 20px;
}

.languages h6 {
    margin-bottom: 15px;
}

.language-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
}

.language-info {
    width: 100%;
    padding: 30px 10px 20px 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.language-info ul {
    padding: 0;
    list-style: none;
}

.language-info li {
    text-align: center;
}

.subtitle {
    font-size: 0.8rem;
}

/* Right top section */

.right-top-section {
    display: grid;
    align-items: center;
}

.name-font {
    margin-top: 30px;
    font-size: 2.75rem;
    font-weight: 700;
    margin-bottom: 0 !important;
}

.engineer-font {
    font-size: 1.75rem;
    font-weight: 300;
    margin-top: 0 !important;
}

/* Right bottom section */

.right-bottom-section {
    padding: 30px;
    background: var(--white-text-color);
    color: var(--dark-green);
}

.right-bottom-section h6 {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Work experience */

.card-container {
    display: grid;
    grid-template-columns: 0.5fr 10fr;
    column-gap: 10px;
    background: var(--green-2);
    padding: 30px;
    cursor: pointer;
    border-radius: 10px;
}

.job-title .subsection-title {
    margin: 0 !important;
}

.job-title .subsection-italic {
    margin: 0 !important;
}

.job-responsibilities {
    display: none;
}

.card-container.expanded .job-responsibilities {
    grid-column: span 2;
    display: block;
    margin: 20px 10px 0 10px;
}

/* Projects */
.projects {
    border-bottom-right-radius: 20px;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card img {
    height: 120px;
}

.card-body {
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 1.25;
    font-size: 0.9rem;
}

@media (min-width: 1300px) {
    .cv-container {
        margin: 80px 18vw;
    }
}

@media (min-width: 1024px) {
    .cv-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
          "A F"
          "B G"
          "C H"
          "D H"
          "E I";
    }

    .left-section {
        background: var(--dark-green);
        color: var(--white-text-color);
    }

    .detailed-info a {
        color: var(--white-text-color);
    }

    .right-top-section {
        padding-left: 30px;
        background: var(--green-2);
        border-top-right-radius: 20px;
        color: var(--dark-green);
    }
}

@media (max-width: 1024px) {
    .cv-container {
        grid-template-areas:
            "A"
            "F"
            "B"
            "G"
            "C"
            "H"
            "I"
            "D"
            "E";
    }

    .img-container {
        background: var(--dark-green);
        margin: 0;
        padding: 100px 50px 0 50px;
        border-radius: 20px 20px 0 0;
    }

    .education,
    .skills,
    .languages {
        padding: 30px;
        background: var(--white-text-color);
    }

    .left-container {
        margin-top: 0;
    }

    .contacts {
        padding: 20px 30px 10px 30px;
        background: var(--green-2);
        color: var(--dark-green);
        display: flex;
        text-align: center;
    }

    .contacts h6 {
        display: none;
    }
    
    .contacts span {
        border: 2px solid var(--dark-green);
    }
    
    .detailed-info a {
        color: var(--dark-green);
    }
    
    .contacts p a:hover {
        color: var(--white-text-color);
    }

    .right-top-section {
        background: var(--dark-green);
        color: var(--white-text-color);
        text-align: center;
        padding: 0 15px 30px 15px;
    }
}